:root {
  --abn-inputtext-color: var(--abn-color-text);
  --abn-inputtext-background: var(--abn-color-background);
  --abn-inputtext-padding-y: var(--abn-spacing-md);
  --abn-inputtext-padding-x: var(--abn-spacing-sm);
  --abn-inputtext-border-color: var(--abn-color-border);
  --abn-inputtext-border-radius: var(--abn-border-radius-sm);
  --abn-inputtext-shadow: none;
  --abn-inputtext-transition-duration: var(--abn-transition-slow);
  --abn-form-field-padding-x: var(--abn-spacing-md);
}
