:root {
  --abn-link-text: var(--abn-color-primary);
  --abn-link-text-hover: var(--abn-color-primary-hover);
  --abn-link-text-active: var(--abn-color-primary-active);
  --abn-link-text-visited: var(--abn-color-primary);
}
