:root {
  --abn-tag-primary-background: var(--abn-color-primary);
  --abn-tag-primary-color: var(--abn-color-text);
  --abn-tag-font-size: var(--abn-font-size-sm);
  --abn-tag-font-weight: var(--abn-font-weight-semibold);
  --abn-tag-padding: var(--abn-spacing-sm);
  --abn-tag-border-radius: var(--abn-border-radius-sm);
  --abn-tag-gap: 1rem;
}
