:root {
  --abn-font-family-base: din-2014, sans-serif;
  --abn-font-family-heading: din-2014, sans-serif;
  --abn-font-family-body: din-2014, sans-serif;

  --abn-font-size-xs: 0.75rem;
  --abn-font-size-sm: 0.875rem;
  --abn-font-size-base: 1rem;
  --abn-font-size-lg: 1.125rem;
  --abn-font-size-xl: 1.25rem;
  --abn-font-size-2xl: 1.5rem;
  --abn-font-size-3xl: 1.875rem;
  --abn-font-size-4xl: 2.25rem;

  --abn-line-height-tight: 1.25;
  --abn-line-height-base: 1.5;
  --abn-line-height-loose: 1.75;

  --abn-font-weight-default: 400;
  --abn-font-weight-semibold: 600;
  --abn-font-weight-bold: 700;
}
